{% extends 'base/base2.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>codigo</td>
			<td>dias</td>
			<td>horas</td>
			
			
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for franja in object_list %}
		<tr>
			<td>{{ franja.codigo_franja }}</td>
			<td>{{ franja.codigo_dias }}</td>
			<td>{{ franja.codigo_hora }}</td>
	
         
			<td>
				<a class="btn btn-primary" href="{% url 'franja_edit' franja.pk %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'franja_delete' franja.pk %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de franjas</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
    	{% endif %}
    </li>
</ul>
{% endblock%}