{% extends 'base/base2.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>codigo</td>
			<td>dias</td>
			<td>horas</td>
			
			
		</tr>
		
	</thead>
	<tbody>
		{% for franja in object_list %}
		<tr>
			<td>{{ franja.codigo_franja }}</td>
			<td>{{ franja.franjadiashora.codigo_dias }}</td>
			<td>{{ franja.franjadiashora.codigo_hora }}</td>
	
         
			
		</tr>
		
		{% empty %}
		<h1>No hay registros de Franjas</h1>
		{% endfor %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
    	{% endif %}
    </li>
</ul>
{% endblock%}