{% extends 'base/base2.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>id</td>
			<td>periodo academico</td>
			<td>alumno id</td>
			<td>asignaturas</td>
			<td>jornada</td>
			
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for horario in object_list %}
		<tr>
			<td>{{ horario.idhorario }}</td>
			<td>{{ horario.codigo_pa }}</td>
			<td>{{ horario.codigo_alumno }}</td>
            <td>{{ horario.asig_jornada.codigo_asignaturas }}</td>
			<td>{{ horario.asig_jornada.codigo_jornada }}</td>

         
			<td>
				<a class="btn btn-primary" href="{% url 'horario_edit' horario.pk %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'horario_delete' horario.pk %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de horarios</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
    	{% endif %}
    </li>
</ul>
{% endblock%}